.react-auto-dropdown-menu{
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

.react-auto-dropdown-menu-embedded{
  padding-left: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: transparent;
}

.react-auto-dropdown-menu-embedded-right{
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: transparent;
}

.react-auto-dropdown-menu-expanded-top-level{
  position: absolute;
  padding: 10px 30px 0px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .9);
}

.react-auto-dropdown-menu-item-list{
  text-decoration: none;
  list-style-type:none;
  margin-left: 5px;
}

.react-auto-dropdown-menu-item-list > a {
  text-decoration: none;
  text-align: left;
}
